// Define variables for your color scheme

// For example:
$red-poppy: #e65c5d;
$pink-creamy: #de73d1;
$yellow-soft: #f7dd74;
$blue-ocean: #3d56d1;
$green-water: #82fed0;
$black: #030303;
$gray: #8d99ae;
$light-gray: #f2f2f2;
$white: #F8F8FF;
$black-banner: #1B201C;
