// Specific CSS for your home-page
#stork_title {
  font-size: 70px;
  color: white;
  margin-bottom: 60px;
}

.content-wrapper {
  min-height: calc(100vh - 81px - 76px);
}

.container-home {
  margin-left: 176px;
  margin-bottom: 20px;
}
