// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";
@import "sessions";

.flex-container{
  display: flex;

  h1{
    color: black;
    margin: 10px;
  }
  .pop-activity {
    height: 55%;
  }
   p {
    text-align: center;
   }
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
