// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";
@import "sessions";

.flex-container{
  display: flex;

  h1{
    color: black;
    margin: 10px;
  }
   p {
   }
}

.wrapper-index{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
