.activity-show-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
}

.activity-show-header .avatar {
  width: 100px;
}

.activity-show-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
  padding-right: 20px;
}

.activity-show-header .hosting img {
  width: 100px;
  height: 100px;
}

.activity-show-header .photo {
  width: 75%;
  height: 500px;
}


.activity-main-infos  {
  width: 100%;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 10px;
}

.activity-main-infos img {
  width: 100%;
}

.activity-main-infos h3 {
  padding-left: 20px;
  padding-top: 10px;
}

.activity-main-infos p {
  padding-left: 20px;
  color: black;
  font-size: 18px;
  margin-bottom: 0;
}

.activity-main-infos .date {
  color: #e65c5d;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

.activity-main-infos i {
color: #e65c5d;
}

.hosting {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.hosting i {
  color: #3d56d1;
}

.hosting .name {
  padding: 10px 0px;
  font-size: 18px;
  color: #e65c5d;
  font-weight: bold;
}

.hosting .owner {
  text-align: -webkit-auto;
  p{
    color: black;
  }
}

.hosting .hosting-infos {
  display: inline-block;
  flex-grow: 1;
  padding-left: 20px;
}

.hosting-btn {
  padding-left: 20px;
  a {
    margin-left: 22px;
  }
    #sweet-cancel {
      border: none;
      background-color: white;
      margin-left: 85px;
    }
}

.hosting-btn .cancel-btn {
  display: none;
}

.hosting-btn .btn-gradient {
  margin-top: 0px;
}

.hosting-btn #sorry_full{
  font-size: 22px;
  font-weight: bold;
}

.hosting-btn #already_in{
  font-size: 22px;
  font-weight: bold;
  margin-left: 50px;
}

.activity-description i {
  font-size: 18px;
  padding-bottom: 10px;
}

.activity-description {
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 5px;
  width: 75%;
  h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .place {
    color: #e65c5d;
    font-size: 18px;
    font-weight: bold;
  }
}

.show_bottom_page {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

.map-show {
    margin-top: 30px;
    color: #e65c5d;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    .map-show-details {
      flex-grow: 1;
      text-align: center;
    }
    .chat-show {
      text-align: center;
      width: 50%
    }
}
.chat-show img {
  width: 90%;
  margin: 0px;
}
