.activity-show-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-show-header .avatar {
  width: 100px;
}

.activity-main-infos  {
  width: 100%;
  margin-bottom: 20px;
}

.activity-main-infos img {
  width: 100%;
}

.hosting {
  text-align: center;
  width: 25%;
  height: 46vh;
}

.hosting .name {
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #e65c5d;
}

.owner {
  font-size: 16px;
  text-align: center;
}

.activity-description i {
  font-size: 20px;
  padding-bottom: 10px;
}
