.banner {
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 16px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#header {
  padding-top: 90px;
  padding-bottom: 150px;
}

#search_bar_div {
  padding-top: 220px;
  margin-left: 10px;
}
