.banner-show {
  position: relative;
}

.banner-general {
  background-color: $black-banner;
  p {
    color: white;
    font-size: 40px;
    font-weight: bold;
  }
  span {
    color: #e65c5d;
  }
  .box_for_search_bar p {
    font-size: 26px;
    padding-left: 15px;
  }
}

.banner {
  background-size: contain;
  background-position: right;
  height: 75vh;
  background-repeat: no-repeat;
}

.banner-show h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
}

.banner-show p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#header {
  padding-top: 110px;
  p {
    padding-left: 35px;
  }
}

.banner-show .blurry-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(8px);
  opacity: 0.8;
}

#search_bar_div {
  padding-top: 20px;
}

.banner-general .container {
  margin-left: 0px;
}
