
.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.card-activity{
  flex-basis: 200px;
  flex-grow: 1;
  overflow: scroll; /* pourquoi ça ne marche pas ?? */
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 10px;
  justify-content: space-between;
  img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  };
  p{
    color: $black;
    font-size: smaller;
  }
  h5{
    color: $red-poppy;
  }
}

.flex-container{
  display: flex;
}
