.card-user{
    flex-grow: 1;
    background: #ffffff;
    border-radius: 5px;
    margin: 20px;
    flex-direction: column;
    padding: 25px;
    text-align: left;
    p{
    color: $black;
    };
  }

.user-bio{
  flex-grow: 1;
  background: #ffffff;
  border-radius: 5px;
  margin: 20px;
  flex-direction: column;
  padding: 25px;
  p{
  color: $black;
  };
  h3{
    color: $red-poppy;
  };
  ul {
    list-style-type: none;
  }
  .hobby-user {
    width: 100%;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(238, 219, 219);
    background-color: rgb(255, 255, 255);
    outline: none;
    margin: 0px;
    border-radius: 30px;
    color: rgb(34, 34, 34);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    position: relative;
    padding: 10px 16px;
    line-height: 16px;
    font-weight: normal;
    font-size: larger;
    margin-top: 10px;
  }
}


.card-user-activities{
   /* je voudrais afficher trois cartes par ligne */
  width: 25%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 10px;
    img{
    height: 200px;
    width: -webkit-fill-available;
    object-fit: cover;
    };
    a {
      color: black
    }
    h5 {
      color: $red-poppy;
    }
}


.card-user-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
}

.user-activity {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-card-body {
  flex-grow: 1;
}

.hobby-show-profile {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  flex-direction: column;
  padding: 25px;
  text-align:center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img {
    width: 102%;
  }
  p {
    font-size: 28px;
    color: #e65c5d;
    font-weight: bold;
  }
  ul {
    list-style-type: none;
    padding: 0px!important;
  }
}

.user-bio a{
  font-size: 30px;
  padding-right: 30px;
}

.left-panel {
  flex-grow: 1;
}

.right-panel {
  flex-grow: 1;
  p {
    font-size: 18px;
  }
  li {
    font-size: 18px;
  }
}

.information_table {
  display: flex;
  border-bottom-width: 0;
  font-size: 18px;
  .main-profile-info {
    padding-left: 1em;
    text-align: left;
    
    h6 {
      color: $red-poppy;
    }
  }
}


#information_table .user_name {
  font-size: 22px;
  font-weight: bold;
}
