.card-participants {
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
}

.card-participants h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #3d56d1;
  padding: 6px 0px;
}

.card-participants p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.left-participants-hidden {
  display: none;
}

.card-participants .card-participants-infos {
  padding: 16px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.card-participants i {
  color: #3d56d1;
  padding-right: 5px;
}

.left-participants .card-participants-infos i {
  color: #3d56d1;
  padding-right: 5px;
}



.left-participants {
  height: 100%;
  // overflow-x: scroll;
  padding-top : 20px;
}

.left-participants .card-participants-infos {
  padding: 16px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  flex-basis: 170px;
}

.left-participants h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #3d56d1;
  padding: 6px 0px;
}

.left-participants p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.left-participants-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
