.card-activity{
  width: 300px;
  background-color: white;
  box-shadow: 1px 1px 5px red;
  border-radius: 5px;
  margin-top: 10px;
  img{
  height: 200px;
  width: 300px;
  object-fit: cover;
  };
}
