.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  align-items: center!important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin-bottom: 5px;
}

.navbar-lewagon .logo-name {
  display: flex;
  align-items: center;
  p {
    font-size: 22px;
    font-family:'Sora', sans-serif;
    margin-bottom: 0px;
  }
}

.home-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: transparent;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 5px;
  #nav-link-discover {
    color: white;
  }
  #nav-link-bookings {
    color: white;
  }
  #nav-link-messages {
    color: white;
  }

  p {
    color: white;
  }
}

.home-navbar .navbar-brand img {
  color: white;
  width: 50px;
}

.home-navbar .navbarSupportedContent .nav_link {
  color: white;
}

.navbar-nav {
  padding-inline: 10px;
  align-items: center;
}

.nav-item {
  padding-inline: 10px;
  .dropdown {
    padding-right: 20px;
  }
}

.user-pic {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link-logout {
    color: white;
}


.activities-index #nav-link-discover {
    border-bottom: 3px solid $red-poppy ;
}

.pages-dashboard #nav-link-bookings {
    border-bottom: 3px solid $red-poppy ;
}

.chatrooms-show #nav-link-messages {
    border-bottom: 3px solid $red-poppy ;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0;
  border-bottom: 3px solid transparent;
}
