.popular-card-activity{
   /* je voudrais afficher trois cartes par ligne */
  width: 30%;
  overflow: scroll; /* pourquoi ça ne marche pas ?? */
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 10px;
    img{
    height: 200px;
    width: -webkit-fill-available;
    object-fit: cover;
    };
    a {
      color: black
    }
    h5 {
      color: $red-poppy;
    }
}

.banner-places-left {
  background-color: $red-poppy;
  opacity: 0.95;
  border-radius: 5px;
  color: white;
  width: fit-content;
  p {
    padding: 10px;
    margin: 0
  }
}

.popular-card-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
}

.pop-activity {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popular-card-body {
  flex-grow: 1;
}


.popular-card-body-second-part {
  flex-grow: 1;
}
